@font-face {
  font-family: 'Source Serif Pro';
  src: url('C:\Users\eleve01\Desktop\projectpoulette-20230323T112513Z-001\projectpoulette\acceuil\Source_Serif_Pro') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #EAD2A8;
}

nav {
  background-color: #333; 
  color: #fff; 
  padding: 10px; 
}

nav a {
  color: #fff; 
  text-decoration: none;
  margin-right: 10px;
}

h1 {
  text-align: center
}

body {
  font-family: 'Source Serif Pro', serif;
}

p {
    text-indent: 2em;
    font-size: larger;
    font-weight: 450;
}

button {
    display: block; 
    font-family: 'Source Serif Pro', serif;
    margin: 0 auto; 
    text-align: center; 
    font-size: large;
    background-color: #000000;
    color: white;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .my-span {
    display: inline-block;
    background-image: url('poulette.png');
    width: 1585px;
    height: 500px;
    position: relative;
    display: inline-block;
    position: relative;
    color: white;
    font-size: 24px;
    text-align: center;
    font-style: italic;
    font-size: 500%;
    line-height: 200px;
    padding: 10px;
  }
  
  .my-span::before {
    content: "Découvrez les poulettes : vos pires cauchemars réunis en un seul être.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }