@font-face {
    font-family: 'Source Serif Pro';
    src: url('Source_Serif_Pro') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    background-color: #EAD2A8;
  }

  h1 {
    text-align: center
  }

  input {
    margin: 0 auto;
    text-align: center;
    block-size: 25px;
  }

  button {
    font-family: 'Source Serif Pro', serif; 
    text-align: center; 
    font-size: large;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  body {
    font-family: 'Source Serif Pro', serif;
  }

  h2 {
    text-align: center;
    font-size: 50px;
  }
  
  p {
    text-indent: 2em;
    font-size: 30px;
    font-weight: 450;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;

  }
